/* page's component */
body {
    background-color: #ffffff;
}

.lead {
    font-size: 1.5em;
}

h1 {
    color: #b80000;
}
h2 {
    color: #e04242;
}

/* title */
#story-button {
    background-color: #d80000;
    color: white;
}

#cards-title {
    color: #032b5f;
}